# Summarize_dtype

This tutorial will guide you through the `summarize_dtypes_table` function, which provides a simple way to analyze and summarize data types within a dataset, making it easier to evaluate the data's structure.

## Getting started

The `summarize_dtypes_table` function offers the following core functionalities:

**1. Summarizing Data Types:**
- Analyzes the input DataFrame to identify data types.
- Outputs a summary table with the counts of each data type.
- Converts data types to string format for consistent representation.

**2. Error Handling:**
- Ensures the input is a valid pandas DataFrame.
- Raises a `TypeError` for invalid input types.

### Function Parameters

The `summarize_dtypes_table` function accepts the following parameter:

- dataset: The input dataset to analyze. It must be a pandas DataFrame.

### Function Output

The function returns a pandas DataFrame summarizing the counts of each data type in the dataset.


## Necessary libraries

To use the `summarize_dtypes_table` function, ensure the following libraries are installed:

In [1]:
import pandas as pd
from summarease.summarize_dtypes import summarize_dtypes_table

## Example dataset

We'll use the following dataset to demonstrate the function's functionality:

In [2]:
data = pd.DataFrame({
    'int_col': [1, 2, 3],
    'float_col': [1.1, 2.2, 3.3],
    'str_col': ['a', 'b', 'c'],
    'bool_col': [True, False, True]
})

## Example usage

In [4]:
# Summarize the data types in the dataset
summary = summarize_dtypes_table(data)
summary

  DataType  Count
0    int64      1
1  float64      1
2   object      1
3     bool      1

## Example 2: Analyzing Sales Data

### Scenario

Imagine you are analyzing sales data for a company. The dataset includes columns such as `TransactionID`, `CustomerName`, `PurchaseAmount`, and `IsMember`.

### Dataset

In [5]:
sales_data = pd.DataFrame({
    'TransactionID': [1001, 1002, 1003],
    'CustomerName': ['Alice', 'Bob', 'Charlie'],
    'PurchaseAmount': [200.5, 150.0, 300.75],
    'IsMember': [True, False, True]
})

In [6]:
sales_summary = summarize_dtypes_table(sales_data)
sales_summary

  DataType  Count
0    int64      1
1   object      1
2  float64      1
3     bool      1

### Interpretation

- `int64`: Represents integer data, such as `TransactionID`.
- `float64`: Represents floating-point data, such as `PurchaseAmount`.
- `object`: Represents string data, such as `CustomerName`.
- `bool`: Represents boolean data, such as `IsMember`.

## Final notes

If you get an error or something went wrong during the usage of the function, you can always submit an issue in the github repo which will be addressed as soon as possible. Thanks for your time!